/* This is my stlying*/

/*Header styling*/

header {
    background-color: white;
}
.Logo {
    display: flex;
    max-width: 1110px;
    margin: auto;
    justify-content: center;
}
.nav-items {
    color: green;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


/*body styling*/

body {
    background-color: white;
    margin: o;
    flex: auto;
}
.Palmtree 
{
    display: flex;
    justify-content: center;
}
    

/*Footer styling*/

footer {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}
.social-media
{
    display: flex;
    justify-content: space-evenly;
}

.Facebook {
    width: 30;
    height: 30%;
    display: flex;
    justify-content: space-evenly
   }

.Twitter {
    width: 30;
    height: 30%;
    display: flex;
    justify-content: space-evenly
   }

   .Github {
    width: 30;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
   }