/* This is my stlying*/

/*Header styling*/

header {
    background-color: #3f454f;
}

.Logo {
    display: inline;
    display: flex;
    justify-content: space-evenly;
}

.nav-items {
    display: inline;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-top: 15px;
    background-color: #6D9886;
   
    
}

.nav-items a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 1.5rem;
}

.nav-items a:hover {
    color: gold;
}

/*text styling*/

h1 {
    padding-left: 100px;
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    padding-left: 100px;
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
   
}
h4 { 
        padding-left: 100px;
        padding-right: 100px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5; 
}

p {
    padding-left: 100px;
        padding-right: 100px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5; 
}

/*body styling*/

body {
    background-color: #F2E7D5;
    margin: o;
    flex: auto;
}
.Palmtree 
{
    padding-right: 100px;
    display: flex;

    justify-content: center;
}
    

/*Footer styling*/

footer {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
}

.Contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Contact-info {
    margin: 4px solid;
}

.Socials {
    display: inline;
    display: flex;
    justify-content: space-evenly;
}

/*Image sizes*/

.blogcontainer a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    display: inline;
    display: flex;
    justify-content: space-evenly;
    
}

.blog-items a:hover {
    color: gold;
    display: inline;
    display: flex;
    justify-content: space-evenly;
}


.party img {
    width: 400px;

}

.chess img {
    width: 400px;

}

.anime img {
    width: 400px;
   
}
.cooking img {
    width: 400px;

}
.holiday img {
    width: 400px;
}

/*Contact page*/

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid ; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #6D9886;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #6D9886;
  }
  
  .container {
    border-radius: 5px;
    background-color: #F2E7D5;
    padding: 20px;
  }